@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.ProfileWrapper {
    z-index: 1;
    min-height: 100vh;
    width: 100%;
   

}

.ProfileBackground {
    z-index: 2;
    min-height: 100vh;
    width: 50%;
   padding: 60px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(16,18,21, 0.9);
}

.ProfileAvatar {

    min-width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    flex: 150px;
}

.NickNameProfile a {
    font-size: 24px;
    font-weight: 200;
}

.CountryProfile a{
    font-size: 14px;
    color: #dededf;
}

.flag{
    height: 12px;
}

.StatusProfile{
    margin-top: 5px;
}

.StatusProfile a {
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    color: #c5c4c4 !important;
}

textarea {
    resize: none; 
}
.profileTextArea{
    height: 100px;
    color: white;
    background-color: #202020; 
    width: 90%;
}
.WritePost{
    width: 100%;
    background-color: #1D2025;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.btnProfile{
    background-color: rgba(235,76,66, 0.9);
    margin-top: 1rem;
    flex:1fr;
    display: block;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    padding: 3px 20px;
}

.AllPostsProfile{
    justify-content: center;
    align-items: center;
    display: flex;
}

.loadProfile{
    z-index: 10;
}

.inputPost {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
    outline: 0;
    flex: auto;
}

.profileLine{
    display: flex;
    align-items: start;
    flex-direction: row;
    margin: 20px 0;
}

.UserDataProfile{
    margin: 0 20px;
}
