/*==================Colors===============*/
/*==================Sizes===============*/
.ProfileWrapper {
  z-index: 1;
  min-height: 100vh;
  width: 100%;
  background-size: auto;
  background-repeat: repeat;
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(48, 9, 1) 100%);
}
.ProfileWrapper .ProfileBackground {
  z-index: 2;
  min-height: 100vh;
  width: 800px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(16, 18, 21, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.ProfileWrapper .ProfileBackground .profileLine {
  display: grid;
  grid-template-columns: 140px 4fr 2fr;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}
.ProfileWrapper .ProfileBackground .profileLine .ProfileAvatarBlock {
  flex: 140px;
}
.ProfileWrapper .ProfileBackground .profileLine .ProfileAvatarBlock .ProfileAvatar {
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ProfileWrapper .ProfileBackground .profileLine .UserDataProfile {
  margin: 0 20px;
  width: 100%;
}
.ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .NickNameProfile a {
  font-size: 22px;
  font-weight: 200;
  color: #FFFFFF;
}
.ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .CountryProfile {
  display: flex;
  align-items: center;
}
.ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .CountryProfile a {
  font-size: 12px;
  color: #dededf;
  margin-left: 3px;
}
.ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .flag {
  height: 12px;
}
.ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .StatusProfile {
  margin-top: 5px;
}
.ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .StatusProfile a {
  font-size: 16px;
  font-family: "Dancing Script", cursive;
  color: #dededf !important;
}
.ProfileWrapper .ProfileBackground .profileLine .profileActions {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.ProfileWrapper .ProfileBackground .profileLine .profileActions .folBtn {
  padding: 5px 20px;
  border-radius: 20px;
  transition: 0.3s;
  border: 0;
  width: 100px;
}
.ProfileWrapper .ProfileBackground .profileLine .profileActions .followed {
  background-color: transparent;
  color: #EB4C42;
  font-weight: 400;
  font-size: 14px;
  border: 2px solid #EB4C42;
}
.ProfileWrapper .ProfileBackground .profileLine .profileActions .followed:hover {
  background-color: #EB4C42;
  color: #FFFFFF;
}
.ProfileWrapper .ProfileBackground .profileLine .profileActions .follow {
  background-color: #EB4C42;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  border: 2px solid #EB4C42;
}
.ProfileWrapper .ProfileBackground .profileLine .profileActions .follow:hover {
  background-color: #EB4C42;
  color: #FFFFFF;
  filter: drop-shadow(0px 0px 10px #EB4C42);
}
.ProfileWrapper .ProfileBackground .contentStatistic {
  display: flex;
  width: 100%;
}
.ProfileWrapper .ProfileBackground .contentStatistic .leftContent {
  flex: 65%;
  width: 100%;
  background-color: rgba(16, 18, 21, 0.4);
  border: 1px solid #fff;
  -o-border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
     border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
  padding: 0;
  min-height: 100vh;
}
.ProfileWrapper .ProfileBackground .contentStatistic .leftContent .createPost {
  padding: 0 0;
  border-bottom: 1px solid #fff;
  -o-border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
     border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
}
.ProfileWrapper .ProfileBackground .contentStatistic .leftContent .AllPostsProfile {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
}
.ProfileWrapper .ProfileBackground .contentStatistic .rightContent {
  flex: 35%;
  width: 100%;
  animation: pulsate 1.5s infinite alternate;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.ProfileWrapper .ProfileBackground .contentStatistic .rightContent .boxRounded {
  background-image: linear-gradient(45deg, rgba(16, 18, 21, 0.1), rgba(16, 18, 21, 0.5));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.ProfileWrapper .ProfileBackground .contentStatistic .rightContent .statistic .statItem {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.ProfileWrapper .ProfileBackground .contentStatistic .rightContent .statistic .statItem .item {
  color: #dededf;
  font-size: 14px;
  font-weight: 100;
}
.ProfileWrapper .ProfileBackground .contentStatistic .rightContent .statistic .statItem .count {
  color: #FFFFFF;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 500;
}
.ProfileWrapper .ProfileBackground .loadProfile {
  z-index: 10;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .ProfileWrapper .ProfileBackground .profileLine {
    padding: 15px;
    grid-template-columns: 90px 4fr 2fr;
  }
  .ProfileWrapper .ProfileBackground .profileLine .ProfileAvatarBlock {
    flex: 90px;
  }
  .ProfileWrapper .ProfileBackground .profileLine .ProfileAvatarBlock .ProfileAvatar {
    width: 90px;
    height: 90px;
  }
  .ProfileWrapper .ProfileBackground .profileLine .UserDataProfile {
    margin: 0 15px;
  }
  .ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .NickNameProfile a {
    font-size: 16px;
  }
  .ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .CountryProfile a {
    font-size: 10px;
    margin-left: 1px;
  }
  .ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .flag {
    height: 10px;
  }
  .ProfileWrapper .ProfileBackground .profileLine .UserDataProfile .StatusProfile a {
    font-size: 14px;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic .leftContent {
    flex: auto;
    padding: 0;
    border-right: 0;
    border-left: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic .leftContent .AllPostsProfile {
    padding: 0;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic .leftContent .createPost {
    padding: 0;
    border-bottom: 1px solid #FFF;
    -o-border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
       border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic .rightContent {
    flex: auto;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px;
    padding-top: 0;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic .rightContent .statistic {
    margin: 0;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic .rightContent .statistic .statItem .item {
    font-size: 12px;
  }
  .ProfileWrapper .ProfileBackground .contentStatistic .rightContent .statistic .statItem .count {
    font-size: 13px;
  }
  .ProfileWrapper .ProfileBackground .loadProfile {
    z-index: 10;
  }
  .follow {
    font-size: 12px !important;
    padding: 3px 3px !important;
    width: 80px !important;
  }
}/*# sourceMappingURL=Profile.css.map */