@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.ProfileWrapper {
    z-index: 1;
    min-height: 100vh;
    width: 100%;

    .ProfileBackground {
        z-index: 2;
        min-height: 100vh;
        width: 40%;
        padding: 60px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(16, 18, 21, 0.9);

        .loadProfile {
            z-index: 10;
        }

        .profileLine {
            display: grid;
            grid-template-columns: 150px 1fr;
            margin: 20px 0;

            .ProfileAvatarBlock{
                
                flex: 150px;
                
                .ProfileAvatar {
                    width: 150px;
                    height: 150px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 10px;
                  
                }
            }
            

            .UserDataProfile {
                margin: 0 20px;

                .NickNameProfile {
                    a {
                        font-size: 24px;
                        font-weight: 200;
                    }

                }

                .CountryProfile {
                    a {
                        font-size: 14px;
                        color: #dededf;
                    }
                }

                .flag {
                    height: 12px;
                }

                .StatusProfile {
                    margin-top: 5px;

                    a {
                        font-size: 18px;
                        font-family: 'Dancing Script', cursive;
                        color: #c5c4c4 !important;
                    }
                }
            }
        }

        

        .AllPostsProfile {
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }

}