@import '../../constants/variables';

.ProfileWrapper {
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    background-size: contain;
    background-repeat: repeat;

    .ProfileBackground {
        z-index: 2;
        min-height: 100vh;
        width: 800px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $bg;
        backdrop-filter: $default-blur;

        .profileLine {
            display: grid;
            grid-template-columns: 140px 4fr 2fr;
            padding: $outside-padding;
            margin-top: $outside-padding;
            width: 100%;

            .ProfileAvatarBlock {
                flex: 140px;
                .ProfileAvatar {
                    width: 140px;
                    height: 140px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: $border-radius;

                }
            }


            .UserDataProfile {
                margin: 0 $inside-padding;
                width: 100%;

                .NickNameProfile {
                    a {
                        font-size: 22px;
                        font-weight: 200;
                        color: $main-text;
                    }

                }

                .CountryProfile {
                    display: flex;
                    align-items: center;
                    a {
                        font-size: 12px;
                        color: $second-text;
                        margin-left: 3px;
                    }
                }

                .flag {
                    height: 12px;
                }

                .StatusProfile {
                    margin-top: 5px;

                    a {
                        font-size: 16px;
                        font-family: 'Dancing Script', cursive;
                        color: $second-text !important;
                    }
                }
            }

            .profileActions {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;

                .folBtn {
                    padding: 5px $outside-padding;
                    border-radius: $btn-border-radius;
                    transition: 0.3s;
                    border: 0;
                    width: 100px;
                }

                .followed {
                    background-color: transparent;
                    color: $primary;
                    font-weight: 400;
                    font-size: 14px;
                    border: 2px solid $primary;

                    &:hover {
                        background-color: $primary;
                        color: $main-text;
                    }
                }

                .follow {
                    background-color: $primary;
                    color: $main-text;
                    font-weight: 400;
                    font-size: 14px;
                    border: 2px solid $primary;

                    &:hover {
                        background-color: $primary;
                        color: $main-text;
                        filter: drop-shadow(0px 0px 10px $primary);
                    }
                }
            }
        }

        .contentStatistic {
            display: flex;
            width: 100%;

            .leftContent {
                flex: 65%;
                width: 100%;
                background-color: rgba(16, 18, 21, 0.4);
                border: 1px solid #fff;
                border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
                
                padding: 0;
                min-height: 100vh;

                .createPost {
                    padding: 0 0;
                    border-bottom: 1px solid #fff;
                    border-image: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
                    
                }

                .AllPostsProfile {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    padding: 0;
                }
            }

            .rightContent {
                flex: 35%;
                width: 100%;
                animation: pulsate 1.5s infinite alternate;

                height: 100%;

                padding: 10px $outside-padding;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                .boxRounded {
                    background-image: $box-bg;
                    backdrop-filter: $default-blur;
                    width: 100%;
                    margin: 10px 0;
                    border-radius: 5px;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                }

                .statistic {
                    .statItem {
                        margin: 5px 0;
                        display: flex;
                        align-items: center;

                        .item {
                            color: $second-text;
                            font-size: 14px;
                            font-weight: 100;
                        }

                        .count {
                            color: $main-text;
                            font-size: 14px;
                            margin-left: 5px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .loadProfile {
            z-index: 10;
        }
    }

}
@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .ProfileWrapper {

        .ProfileBackground {

            .profileLine {
                padding: $mobile-outside-padding;
                grid-template-columns: 90px 4fr 2fr;
                .ProfileAvatarBlock {
                    flex: 90px;

                    .ProfileAvatar {
                        width: 90px;
                        height: 90px;
                    }
                }
                .UserDataProfile {
                    margin: 0 $mobile-outside-padding;

                    .NickNameProfile {
                        a {
                            font-size: 18px;
                        }
                    }

                    .CountryProfile {
                        a {
                            font-size: 10px;
                            margin-left: 1px;
                        }
                    }

                    .flag {
                        height: 10px;
                    }

                    .StatusProfile {
                        a {
                            font-size: 16px;
                        }
                    }
                }

            }

            .contentStatistic {

                display: flex;
                width: 100%;
                flex-direction: column-reverse;
                min-height: fit-content;

                .leftContent {
                    flex: auto;
                    padding: 0;
                    border-right: 0;
                    border-left: 0;
                    height: fit-content;
                    .AllPostsProfile{
                        padding: 0;
                    }
                    .createPost{
                        padding: 0;
                        border-bottom: 1px solid #FFF;
                        border-image: $border-gradient;
                    }
                }

                .rightContent {
                    flex: auto;
                    height: fit-content;
                    padding: $mobile-outside-padding;
                    padding-top: 0;
                    .statistic{
                        margin: 0;
                        .statItem{
                            .item{
                                font-size: 12px;
                            }
                            .count{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }



            .loadProfile {
                z-index: 10;
            }


        }

    }
}