@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');
.parallax {
    background-image: url("https://images.unsplash.com/photo-1623672482702-f50de11e2715?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; 
  } 
  
  .TextInPic {  
    font-family: 'Handjet', cursive;
    font-size: 50px;
    color: white; 
    margin-right: 15vh;
    text-shadow: rgba(241, 239, 239, 0.80) 0px 3px 8px;
  } 
  .candle{
    margin-left: 15vh; 
    background-image: url('https://i.pinimg.com/originals/93/25/cd/9325cd735d6c16d696b72fe7ef39de10.gif');
    height: 50vh; 
    width: 50vh;
    background-size: cover;
  }
  
.BrandDivMain {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15rem;
}

.brandMain {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    -webkit-text-stroke: 0.4px white;
    font-size: 50px;
    text-shadow: rgba(241, 239, 239, 0.80) 0px 3px 8px;
    color: rgb(155, 34, 34);
}
.row {
  --bs-gutter-x: 0rem !important;
}