/*==================Colors===============*/
$main-text: #FFFFFF;
$second-text: #dededf;
$primary: #EB4C42;
$box-bg: linear-gradient(45deg, rgba(16, 18, 21, 0.1), rgba(16, 18, 21, 0.5));
$bg: rgba(16, 18, 21, 0.6);
$default-blur: blur(5px);
$border-gradient: linear-gradient(45deg, rgba(230, 60, 54, 0.6), rgba(248, 90, 82, 0.6)) 1;
/*==================Sizes===============*/
$outside-padding: 20px;
$inside-padding: 20px;
$mobile-outside-padding: 15px;
$border-radius: 10px;
$btn-border-radius: 20px;