@charset "UTF-8";
/*==================Colors===============*/
/*==================Sizes===============*/
body {
  font-family: "Open Sans";
}

.SearchBlock {
  display: block;
  position: relative;
}
.SearchBlock ul {
  margin: 0;
  padding: 0;
}
.SearchBlock .dropdown_item {
  list-style: none;
}
.SearchBlock .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.SearchBlock .input_container {
  width: 100%;
  min-width: 0;
  max-width: 430px;
  position: relative;
}
.SearchBlock .input_container::before {
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: solid 2px #979797;
  pointer-events: none;
}
.SearchBlock .input_container::after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  display: block;
  pointer-events: none;
}
.SearchBlock .input_container:focus-within::after {
  transform: scaleX(1);
}
.SearchBlock .input {
  width: 100%;
  padding-bottom: 12px;
  min-width: 0;
  max-width: 430px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 27px;
  letter-spacing: -0.7px;
  color: #090a3c;
  -webkit-tap-highlight-color: transparent;
}
.SearchBlock .input::-moz-placeholder {
  color: #b3b3b3;
}
.SearchBlock .input::placeholder {
  color: #b3b3b3;
}
.SearchBlock .dropdownMenu {
  transition: 0.8s;
  opacity: 0s;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(29, 32, 37) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #EB4C42;
  z-index: 5;
  color: red;
  width: 100%;
  position: absolute;
  border-top: 0;
  overflow: hidden;
}
.SearchBlock .dropdownMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.SearchBlock .dropdownMenu ul .dropdown_item {
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid rgba(179, 179, 179, 0.4196078431);
}
.SearchBlock .dropdownMenu ul .dropdown_item:hover {
  background-color: rgba(47, 52, 59, 0.6) !important;
}
.SearchBlock .dropdownMenu ul .dropdown_item .DataUserThought {
  display: flex;
}
.SearchBlock .dropdownMenu ul .dropdown_item .DataUserThought img {
  width: 30px;
  height: 30px;
}
.SearchBlock .dropdownMenu ul .dropdown_item .DataUserThought .nickAndTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 5px;
}
.SearchBlock .dropdownMenu ul .dropdown_item .DataUserThought .nickAndTime .NickThought {
  color: #FFFFFF;
  font-size: 13px;
  transition: 0.3s;
  font-weight: 500;
}
.SearchBlock .dropdownMenu ul .dropdown_item .DataUserThought .nickAndTime .NickThought:hover {
  color: #b6b6b6;
}
.SearchBlock .dropdownMenu ul .dropdown_item .DataUserThought .nickAndTime .time {
  color: #9E9696;
  font-size: 11px;
}
.SearchBlock .searchInput:focus {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: 1px solid #EB4C42;
  box-shadow: none;
}
.SearchBlock .loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SearchBlock .item_text1 {
  color: #090a3c;
  margin-bottom: 5px;
}
.SearchBlock .item_text2 {
  font-size: 14px;
  color: rgba(9, 10, 60, 0.5019607843);
}/*# sourceMappingURL=SearchInput.css.map */